<a mat-stroked-button [routerLink]="'/relatorios/list'" class="back-button"><mat-icon>arrow_back</mat-icon> Voltar</a>
<div class="intro">
  <table>
    <tr>
      <td>Semestre</td>
      <td>{{ report?.semester }}</td>
      <td></td>
    </tr>
    <tr>
      <td>Orientador</td>
      <td>{{ report?.leader.name || report?.leader }}</td>
      <td>
        <button (click)="parecer = true" *ngIf="report?.parecerOrientador == '' && !parecer && report?.leaderCode == userDataService.getUserUID()" color="accent" mat-raised-button><mat-icon>rate_review</mat-icon> Redigir Parecer</button>
        <button (click)="parecer = false" *ngIf="report?.parecerOrientador == '' && parecer && report?.leaderCode == userDataService.getUserUID()" color="warn" mat-raised-button><mat-icon>close</mat-icon> Cancelar</button>
        <button (click)="parecer = true" *ngIf="isCCP && report?.parecerOrientador != '' && report?.parecerCCP == '' && !parecer" color="accent" mat-raised-button><mat-icon>rate_review</mat-icon> Redigir Parecer Final</button>
        <button (click)="parecer = false" *ngIf="isCCP && report?.parecerOrientador != '' && report?.parecerCCP == '' && parecer" color="warn" mat-raised-button><mat-icon>close</mat-icon> Cancelar</button>
      </td>
    </tr>
  </table>
  <div *ngIf="report && report?.parecerOrientador != ''" class="parecerOrientador">
    <p><mat-icon class="icon-pos-fix">rate_review</mat-icon><strong>AVALIAÇÃO DO ORIENTADOR</strong></p>
    <p>Resultado: <strong style="text-transform: uppercase">{{ report?.parecerOrientadorAvaliacao }}</strong></p>
    <p style="text-align: justify">
      {{ report?.parecerOrientador }}
    </p>
  </div>
  <div *ngIf="report && report?.parecerCCP != ''" class="parecerCCP">
    <p><mat-icon class="icon-pos-fix">rate_review</mat-icon><strong>AVALIAÇÃO FINAL DA CCP</strong></p>
    <p>Resultado: <strong style="text-transform: uppercase">{{ report?.parecerCCPAvaliacao }}</strong></p>
    <p style="text-align: justify">
      {{ report?.parecerCCP }}
    </p>
  </div>
  <div [class.open]="parecer && !isCCP" class="closed">
    <mat-form-field class="input input--textarea" appearance="standard">
      <mat-label>Digite aqui o seu parecer como ORIENTADOR</mat-label>
      <textarea matInput [(ngModel)]="parecerText" placeholder="Digite aqui..." rows="7"></textarea>
    </mat-form-field>
    <mat-form-field ngDefaultControl appearance="standard" style="margin: 0 12px;">
      <mat-label>Avaliação do orientador</mat-label>
      <mat-select [(ngModel)]="parecerAvaliacao">
        <mat-option value="Adequado">Adequado</mat-option>
        <mat-option value="Adequado com ressalvas">Adequado com ressalvas</mat-option>
        <mat-option value="Insatisfatório">Insatisfatório</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="sendParecerOrientador()" mat-stroked-button [disabled]="parecerAvaliacao == '' || parecerText == ''" color="primary">Enviar parecer</button>
  </div>
  <div [class.open]="parecer && isCCP" class="closed">
    <mat-form-field class="input input--textarea" appearance="standard">
      <mat-label>Digite aqui o seu parecer final como CCP</mat-label>
      <textarea matInput [(ngModel)]="parecerText" placeholder="Digite aqui..." rows="7"></textarea>
    </mat-form-field>
    <mat-form-field ngDefaultControl appearance="standard" style="margin: 0 12px;">
      <mat-label>Avaliação da CCP</mat-label>
      <mat-select [(ngModel)]="parecerAvaliacao">
        <mat-option value="Adequado">Adequado</mat-option>
        <mat-option value="Adequado com ressalvas">Adequado com ressalvas</mat-option>
        <mat-option value="Insatisfatório">Insatisfatório</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="sendParecerCCP()" mat-stroked-button [disabled]="parecerAvaliacao == '' || parecerText == ''" color="primary">Enviar parecer final</button>
  </div>
</div>

<div class="form">
  <div class="row">
    <mat-form-field class="input" appearance="standard">
      <mat-label>Nome do aluno</mat-label>
      <input matInput disabled [value]="report?.student.name || 'Carregando...'">
    </mat-form-field>
    <mat-form-field class="input" appearance="standard">
      <mat-label>E-mail</mat-label>
      <input matInput disabled [value]="report?.student.email || 'Carregando...'">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input" appearance="standard">
      <mat-label>Última atualização</mat-label>
      <input matInput disabled [value]="report?.updated | date:'dd/MM/y HH:mm'">
    </mat-form-field>
    <mat-form-field class="input-long" appearance="standard">
      <mat-label>Resultado da avaliação do último relatório</mat-label>
      <input matInput disabled [value]="report?.student.lastResult || 'Carregando...'">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input" appearance="standard">
      <mat-label>Número USP</mat-label>
      <input matInput disabled placeholder="Digite apenas os números." [value]="report?.student.uspNumber || 'Carregando...'">
    </mat-form-field>
    <mat-form-field class="input-long" appearance="standard">
      <mat-label>Link do Curriculum Lattes</mat-label>
      <input matInput disabled placeholder="https://..." [value]="report?.student.lattesLink || 'Carregando...'">
    </mat-form-field>
  </div>
  <div class="row" style="height: 81px;">
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="curso" aria-label="Selecione uma opção">
      <mat-label><div class="question-number">1</div> Selecione o curso: </mat-label>
      <mat-radio-button color="primary" value="1">Mestrado</mat-radio-button>
      <mat-radio-button color="primary" value="2">Doutorado</mat-radio-button>
    </mat-radio-group>
    <mat-form-field ngDefaultControl class="input-long" [class.hide]="!curso || curso == 2" appearance="standard">
      <mat-label>Último semestre concluído do Mestrado</mat-label>
      <mat-select disabled [(ngModel)]="ultimoSemestreMestrado">
        <mat-option value="1">1º semestre</mat-option>
        <mat-option value="2">2º semestre</mat-option>
        <mat-option value="3">3º semestre</mat-option>
        <mat-option value="4">4º semestre</mat-option>
        <mat-option value="5">5º semestre</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field ngDefaultControl class="input-long" [class.hide]="!curso || curso == 1" appearance="standard">
      <mat-label>Último semestre concluído do Doutorado</mat-label>
      <mat-select disabled [(ngModel)]="ultimoSemestreDoutorado">
        <mat-option value="1">1º semestre</mat-option>
        <mat-option value="2">2º semestre</mat-option>
        <mat-option value="3">3º semestre</mat-option>
        <mat-option value="4">4º semestre</mat-option>
        <mat-option value="5">5º semestre</mat-option>
        <mat-option value="6">6º semestre</mat-option>
        <mat-option value="7">7º semestre</mat-option>
        <mat-option value="8">8º semestre</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <div class="row row--flexless">
    <mat-label><div class="question-number">2</div> Em quantas disciplinas obrigatórias você ja obteve aprovação?</mat-label>
    <br>
    <mat-form-field ngDefaultControl [(ngModel)]="disciplinasObrigatoriasAprovadas" class="input" appearance="standard">
      <mat-label>Número de disciplinas</mat-label>
      <input disabled [value]="disciplinasObrigatoriasAprovadas" matInput placeholder="Apenas números">
    </mat-form-field>
  </div>

  <div class="row row--flexless">
    <mat-label><div class="question-number">3</div> Em quantas disciplinas optativas você ja obteve aprovação?</mat-label>
    <br>
    <mat-form-field ngDefaultControl [(ngModel)]="disciplinasOptativasAprovadas" class="input" appearance="standard">
      <mat-label>Número de disciplinas</mat-label>
      <input disabled [value]="disciplinasOptativasAprovadas" matInput placeholder="Apenas números">
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">4</div>
      Todos os conceitos em disciplinas cursadas no último semestre já foram divulgados?
      Caso não, espere até 2 dias antes da data máxima definida no site do PPgSI para enviar o seu relatório.
    </mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="conceitosDivulgadosUltimoSemestre" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">Sim</mat-radio-button>
      <mat-radio-button color="primary" value="2">Não</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label><div class="question-number">5</div> Em quantas disciplinas você foi reprovado desde o início do mestrado/doutorado?</mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="reprovacoesTotais" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="0">0</mat-radio-button>
      <mat-radio-button color="primary" value="1">1</mat-radio-button>
      <mat-radio-button color="primary" value="2">2</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row row--flexless">
    <mat-label><div class="question-number">6</div> Em quantas disciplinas você foi reprovado no último semestre?</mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="reprovacoesUltimoSemestre" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="0">0</mat-radio-button>
      <mat-radio-button color="primary" value="1">1</mat-radio-button>
      <mat-radio-button color="primary" value="2">2</mat-radio-button>
      <mat-radio-button color="primary" value="3">Terminei as disciplinas</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label><div class="question-number">7</div> Você já foi aprovado no exame de proficiência em idiomas?</mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="exameProficienciaIdiomas" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">Sim</mat-radio-button>
      <mat-radio-button color="primary" value="0">Não</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label><div class="question-number">8</div> Você já realizou o exame de qualificação?</mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="exameQualificacao" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">Sim. Fui aprovado.</mat-radio-button>
      <mat-radio-button color="primary" value="2">Sim. Fui reprovado.</mat-radio-button>
      <mat-radio-button color="primary" value="3">Não.</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label><div [class.disabled]="!exameQualificacao || exameQualificacao == '1'" class="question-number">9</div> Se não qualificou, quanto tempo falta para o limite máximo de qualificação?</mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="limiteQualificacao" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">Menos de 3 meses</mat-radio-button>
      <mat-radio-button color="primary" value="2">Entre 3 e 6 meses</mat-radio-button>
      <mat-radio-button color="primary" value="3">Mais de 6 meses</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div [class.disabled]="!exameQualificacao || exameQualificacao != '1'" class="question-number">10</div>
      Se você já fez sua qualificação e foi aprovado, quanto tempo falta para o limite
      máximo do depósito da sua dissertação/tese?
    </mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="limiteDepositoDissertacao" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">Menos de 3 meses</mat-radio-button>
      <mat-radio-button color="primary" value="2">Entre 3 e 6 meses</mat-radio-button>
      <mat-radio-button color="primary" value="3">Mais de 6 meses</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">11</div>
      Quantos artigos referentes a sua pesquisa de mestrado/doutorado você teve
      aceitos ou publicados? (Obs: Você deve inserir os artigos publicados no seu
      currículo Lattes)
    </mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="artigosPublicados" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">0</mat-radio-button>
      <mat-radio-button color="primary" value="2">1</mat-radio-button>
      <mat-radio-button color="primary" value="3">2</mat-radio-button>
      <mat-radio-button color="primary" value="4">Mais de 2</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">12</div>
      Quantos artigos você submeteu e ainda estão aguardando resposta?
    </mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="artigosAguardandoResposta" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">0</mat-radio-button>
      <mat-radio-button color="primary" value="2">1</mat-radio-button>
      <mat-radio-button color="primary" value="3">2</mat-radio-button>
      <mat-radio-button color="primary" value="4">Mais de 2</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">13</div>
      Você possui artigo em preparação para submissão? Qual o estágio dele?
    </mat-label>
    <br><br>
    <mat-radio-group disabled ngDefaultControl [(ngModel)]="artigoPreparacao" aria-label="Selecione uma opção">
      <mat-radio-button color="primary" value="1">Não possuo</mat-radio-button>
      <mat-radio-button color="primary" value="2">Experimentos em elaboração</mat-radio-button>
      <mat-radio-button color="primary" value="3">Aguardando coleta de dados</mat-radio-button>
      <mat-radio-button color="primary" value="4">Em fase de escrita</mat-radio-button>
      <mat-radio-button color="primary" value="5">Em fase de tradução</mat-radio-button>
      <mat-radio-button color="primary" value="6">Preparando resposta para os revisores</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">14</div>
      Qual o estágio atual de sua pesquisa? Apresente toda e qualquer atividade que
      já tenha sido realizada no contexto de seu projeto de pesquisa (mesmo que
      ainda incompleta). Faça uma descrição detalhada.
    </mat-label>
    <br><br>
    <mat-form-field ngDefaultControl [(ngModel)]="estagioPesquisa" class="input-long" appearance="standard">
      <mat-label>Descreva detalhadamente</mat-label>
      <textarea disabled [value]="estagioPesquisa" matInput placeholder="Digite aqui."></textarea>
    </mat-form-field>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">15</div>
      Você participou de algum congressos no país? Se sim, indicar local, se houve
      apresentação de trabalho e se o congresso é ou não internacional.
    </mat-label>
    <br><br>
    <mat-form-field ngDefaultControl [(ngModel)]="congressoPais" class="input-long" appearance="standard">
      <mat-label>Digite aqui</mat-label>
      <textarea disabled [value]="congressoPais" matInput placeholder="Digite aqui."></textarea>
    </mat-form-field>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">16</div>
      Você participou de algum congresso no exterior? Se sim, indicar local e se
      houve apresentação de trabalho.
    </mat-label>
    <br><br>
    <mat-form-field ngDefaultControl [(ngModel)]="congressoExterior" class="input-long" appearance="standard">
      <mat-label>Digite aqui</mat-label>
      <textarea disabled [value]="congressoExterior" matInput placeholder="Digite aqui."></textarea>
    </mat-form-field>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">17</div>
      Você realizou algum estágio de pesquisa ou visita de pesquisa no exterior
      (incluindo sanduíche)? Se sim, indique o nome da universidade e o período.
    </mat-label>
    <br><br>
    <mat-form-field ngDefaultControl [(ngModel)]="visitaPesquisa" class="input-long" appearance="standard">
      <mat-label>Digite aqui</mat-label>
      <textarea disabled [value]="visitaPesquisa" matInput placeholder="Digite aqui."></textarea>
    </mat-form-field>
  </div>

  <div class="row row--flexless">
    <mat-label>
      <div class="question-number">18</div>
      Você tem algo a mais a declarar para a CCP - PPgSI?
    </mat-label>
    <br><br>
    <mat-form-field ngDefaultControl [(ngModel)]="declaracaoExtra" class="input-long" appearance="standard">
      <mat-label>Digite aqui</mat-label>
      <textarea disabled [value]="declaracaoExtra" matInput placeholder="Digite aqui."></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <button *ngIf="report?.leaderCode == userDataService.getUserUID()" color="accent" mat-raised-button><mat-icon>rate_review</mat-icon> Redigir Parecer</button>
  </div>
</div>
