<div class="caixa">
    <h1 class="tituloCaixa">Criar novo usuario</h1>
    <p>
        <mat-form-field appearance="standard" class="formulario">
            <mat-label>e-mail</mat-label>
            <input matInput value="chinaglia.rafa@gmail.com" placeholder="endereço@dominio.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" class="formulario">
            <mat-label>senha</mat-label>
            <input type="password" value="123456" matInput [formControl]="senha" placeholder="senha">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" class="formulario">
            <mat-label>Nome</mat-label>
            <input matInput value="nome" [formControl]="nome" placeholder="Nome">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" class="formulario">
            <mat-label>Numero usp</mat-label>
            <input matInput value="000000" [formControl]="numeroUsp" placeholder="000000">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Orientador</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of docentes" value="item.uid">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button color="primary" mat-raised-button class="acesso">Cadastrar</button>
    </p>
</div>
