<div class="content">
  <div class="list-container">
    <mat-label class="subheader">Meus relatórios</mat-label>
    <mat-list>
      <mat-list-item *ngFor="let report of reports">
        <mat-icon mat-list-icon class="done">grading</mat-icon>
        <div mat-line>{{ report.semester }}</div>
        <div mat-line class="sub-line">{{ report.status }}</div>
        <div>{{ report.score }}</div>
      </mat-list-item>
    </mat-list>
    <button mat-fab class="fab-button" [routerLink]="'/new-report'" aria-label="Adicionar novo relatório" color="primary"><mat-icon>add</mat-icon></button>
  </div>
</div>
