.content {
  background: var(--color-primary);
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .content {
    height: calc(100vh - 56px);
  }
}

.list-container {
  background: white;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}

.list-container mat-nav-list {
  height: 100%;
  overflow: auto;
  max-width: 600px;
}

.data {
  font-size: 0.8em;
  border-radius: 10px;
  padding: 3px 10px;
  background: rgba(200, 200, 200, 0.9);
  display: inline-block;
  text-transform: uppercase;
}

.list-container .subheader {
  font-size: 1.2em;
  padding: 16px 16px 6px 16px;
  display: block;
}

.done {
  color: #00c853;
}

.success {
  background: #00c853;
  color: white;
}

.failure {
  background: tomato;
  color: white;
}

.sub-line {
  opacity: 0.5;
}

.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
