.intro {
  padding: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.intro table {
  border-spacing: 0;
  border-collapse: collapse;
}

.intro table tr td {
  padding: 6px;
  margin: 0;
  border: 1px solid var(--color-primary);
}

.intro table tr td:nth-child(2) {
  background: var(--color-primary);
  color: white;
}

.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.input {
  min-width: 200px;
  margin: 0 8px;
}

.input-long {
  width: 250px;
}

.row {
  display: flex;
}

.row.row--flexless {
  display: block;
}

mat-radio-group {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

mat-radio-button {
  margin-left: 16px;
}

mat-divider {
  margin: 4px 0 16px 0;
}
